.personal-information {
    text-align: center;
    width: 100%;
}

.personal-information h3 {
    font-family: 'Times new roman';
}

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}



.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAQMAAAAJDczNWI1NTU3LTk4MzMtNGI2YS1hODBlLTg3NjM5YTczYmE4Zg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
	}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:200;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 2px;
    margin-top: 5px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-github {
    background-color: #5380c0;
}
.soc-github:before {
    content:'Q';
}
.soc-email1 {
    background-color: #578AD6;
}
.soc-email1:before {
    content:'<';
}
.soc-wikipedia {
    background-color: #000000;
}
.soc-wikipedia:before {
    content:'N';
}
.soc-skype {
    background-color: #28abe3;
}
.soc-skype:before {
    content:'g';
}
.soc-behance {
    background-color: #000000;
}
.soc-behance:before {
    content:'H';
}
.soc-spotify {
    background-color: #7bb342;
}
.soc-spotify:before {
    content:'o';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'r';
}
.soc-apple {
    background-color: #B9BFC1;
}
.soc-apple:before {
    content:'O';
}
